* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Inter', sans-serif;
    color: white;
}

/* background image */
body {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-attachment: fixed;
}

/* basis van header */
header {
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(31, 13, 67, 0.63);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
}

.header-right {
    right: 150px;
}

.header-left {
    left: 150px;
}

/* CV download button styling */
.cv-button {
    background-color: white;
    border-radius: 25px;
    border-style: none;
    width: 120px;
    height: 40px;
    color: #8A53CF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* header navigatie links */
header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin: 16px;
}

/* landing page sizing*/
#fullscreen-section {
    height: 100vh;
    width: 100vw;
}

/* landing page titel */
#fullscreen-section h1 {
    text-align: center;
    font-size: 60px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* basis style voor sections */
section {
    left: 10vw;
    position: relative;
    height: 85vh;
    width: 80vw;
    background-color: white;
    margin-bottom: 100px;
}

/* heading voor sections */
h2 {
    font-size: 60px;
    color: #9F4FDE;
    margin-bottom: 10px;
}

/* basis van footer */
footer {
    background-color: rgba(31, 13, 67, 0.63);
    width: 100vw;
    height: 80px;
}