* {
    margin: 0;
    padding: 0;
}

body, html {

    font-family: 'Chivo Mono', monospace;
    color: white;
}

body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, .header-bottom {
    display: flex;
}

header {
    margin-top: 100px;
    flex-direction: column;
}

section {
    margin: 20px;
    height: 700px;
    width: 80%;
    background-color: white;
}

h1 { 
    font-size: 48px;
}

p {
    padding: 16px 28px;
    font-size: 18px;
}

button {
    background-color: black;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    color: white;
    font-family: 'Chivo Mono', monospace;
    font-size: 14px;
}